* {
  background-color: black;
}

button {
  background-color: #444141;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: none;
  margin-left: 20px;
}

button:hover {
  background-image: linear-gradient(
    90deg,
    #53cbef 0%,
    #dcc66c 50%,
    #ffa3b6 75%,
    #53cbef 100%
  );
  animation: slidernbw 5s linear infinite;
  color: #000;
}

@keyframes slidernbw {
  to {
    background-position: 20vw;
  }
}

h1 {
  font-size: 60px;

  color: #53cbef;
}
p {
  position: relative;
  bottom: 35px;
  font-size: 20px;
  color: #dcc66c;
}

h2 {
  font-size: 30px;
  color: #ffa3b6;
}
